name: Test UI

on:
  push:
    branches: ["main"]
    paths:
      - packages/ui/src/**
  pull_request:
    branches: ["main"]
    paths:
      - packages/ui/src/**

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: ./packages/ui
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 19
      uses: actions/setup-node@v3
      with:
        node-version: 19
        cache: 'npm'
        cache-dependency-path: './packages/ui/package-lock.json'
    - run: npm i
    - run: npm test
    - run: npm run lint
